/* blue #13cced blend #12e061 green #00d90e  */
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 80%;
  min-height: 50vh;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 980px;
  padding: 2rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* Navbar */
.logo {
  margin: 3%;
  padding: 0;
  overflow: hidden;
  float: left;
  height: 10vw;
  width: auto;
}
.link-main {
  font-size: 2.5vw;
  margin: 3%;
  padding: 0;
  overflow: hidden;
  float: right;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.link-logout {
  font-size: 4vw;
  text-decoration: none;
  position: relative;
  color: rgb(0, 0, 0);
  top : 800;  
  left: 190px;

}

/* mouse over link */
a :hover {
  color: #13cced;
}

/* Landing Page */
.beach {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
}

.link-land {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: #00d90e;
}

.choice {
  margin: 3%;
  padding: 0;
}

.elements {
  margin: 3%;
  float: left;
  height: 20vw;
  width: auto;
  padding-left: 4vw;
 
}

@media screen and (max-width: 500px) {
  .elements {
    margin: 3%;
    height: 20vh;
    float: left;
    padding-left: 25vw;
  }
}

/* Sign up  */

.signup-body {
  align-items: center;
}

.signup-header {
  background-image: url("/img/beachplastic.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  text-align: center;
  height: 25rem;
  width: auto;
  
}

.signup-logo {
  margin: 2rem;
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#signup-heading {
  padding-top: 5%; 
  text-align: center;
}

.form-signup input {
  width: 70%;
  padding: 10px;
  margin: 0px 0;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #fff;
  border: none;
  border-bottom:solid 2px #13cced; 
  text-align: left;
  border-radius: 14px;
}

.form-signup button {
  background: linear-gradient(90deg,  #00d90e77,#12e06153, #13cced48);
  border: 1px solid #ddd;
  border-radius: 14px;
  color: black;
  width: 70%;
  padding: 10px;
}


@media (max-width: 800px) {
  .form-signup input {
    margin: 1vh 0;
  }

  .form-signup {
    flex-direction: column;
  }
}

/* Login */
.login-body {
  align-items: center;
}

.login-header {
  background-image: url("/img/beachplastic.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  text-align: center;
  height: 20rem;
  width: auto;
  
}

.login-logo {
  margin: 2rem;
  height: 3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#login-heading {
  text-align: center;
}

.form-login input {
  width: 70%;
  padding: 17px;
  margin: 0px 0;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #fff;
  border: none;
  border-bottom:solid 2px #13cced; 
  text-align: left;
  border-radius: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.form-login button {
  background: linear-gradient(90deg,  #00d90e77,#12e06153, #13cced48);
  border: 1px solid #ddd;
  border-radius: 14px;
  color: black;
  width: 70%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@media (max-width: 800px) {
  .form-signup input {
    margin: 1vh 0;
  }

  .form-signup {
    flex-direction: column;
  }
}

#signup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Profile */

.profile-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 5rem;
  max-width: 90vw; 
  text-align: center;
   
   
}

.hello {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.profile-header {
  /* background: linear-gradient(45deg,#13cced48,  #13cced48,  #00d90e77 ); */
  background-color: #13cced48; 
  width: 100vw;  
  padding: 4.5rem;
  overflow: hidden;
 

}


.profile-container {
  margin: .5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}  

.profile-logo {
  margin: 12rem;
  height: 3rem;
  display: block;
  width: auto;
}

.link-profile {
  padding: 4px 90px;
  text-decoration: none;
  color: rgb(242, 242, 242);
}


.link-profile:visited {
  color: white
}
.link-profile:active{
  color: white
}

.profile-1 {
  background-image: url("/img/cumulus-cloud.jpg");
  width: 70vw;  
  border-radius: 30px;
  text-align: center;
  padding: 2rem;
  margin: 4%;
}

.searchbar {
  float: left;
  border-radius: 30px;
  width: 9rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.searchbar:focus {
  width: 27%;
  color: black;
  
}


.profile-2 {
  background-image: url("/img/forrest.jpeg");
  width: 70vw;  
  border-radius: 30px;
  text-align: center;
  padding: 2rem;
  margin: 4%;
}
.profile-3 {
  background-image: url("/img/waves.jpg");
  width: 70vw;  
  border-radius: 30px;
  text-align: center;
  padding: 2rem;
  margin: 4%;
}
.upcoming {
  background-image: url("/img/beachplastic.jpg");
  width: 70vw; 
  border-radius: 30px;
  text-align: center;
  padding: 2rem;
  margin: 4%;
 
}


#bt {
  float:left;
  border: solid 4px blue;
  border-radius: 40%;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Browse CleanUps */
.searchbar {
  margin-top: 10%;
  background-color: #13cced;
  height: 5vh;
  width: 50%;
}

.border {
  border: solid 4px black;
  display: flex;
}

/* My Cleanups */
.mycleanups-header {
  background-image: url("/img/beachplastic.jpg");
  width: 100vw;  
  padding: 6rem;
  overflow: hidden;
}

.hello-my {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

/* Upcoming */
.upcoming-header {
  background-image: url("/img/beachplastic.jpg"); 
  width: 100vw;  
  padding: 6rem;
  overflow: hidden;
}

.joinBtn {
  background-color: green
}

.pushedBtn {
  background-color: yellow
}